body{
    font-family:Arial;
    background: of172a ;
    color: white;
    margin: 0;
    padding: 0;
    margin: 0;
}
head{
    background: 1e293b;
    padding: 15px;
    font-size: 22px;
    text-align: center;
}
.container{
    padding: 20px;
}
.card{
    background: 1e293b;
    padding: 15xp;
    margin: 10 px 0;
    border-radius: 10px;
    border: none;
}
input button{
    padding: 8xp;
    margin: 4px;
    border-radius: 5px;
    border: none;
}
button{
    background: 22c55e;
    color: white;
    cursor: pointer;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td,th{
    padding: 8px;
    border-bottom: 1px solid 334155;
}